---
const { posts } = Astro.props;

const topics = ["css","javascript","sass","nodejs","reactjs","nextjs","all"]
---

<main data-main>
  <h1 class="main-title">Stuff I Write About</h1>
  <div class="blogFilter">
    {
      topics.map(topic => (
        <button class="filterItem">{topic}</button>
      ))
    }
  </div>
  <section class="grid"></section>

  <script is:inline define:vars={{ posts }}>
    const filters = document.querySelectorAll(".filterItem");

    createArticle(posts);

   filters.forEach(filter => {
  filter.addEventListener("click", (e) => {
    // Remove active class and styles from previous item
    filters.forEach(f => f.classList.remove('active'));
    
    // Add active class to the clicked item
    e.target.classList.add("active");

    filterPosts(e.target.textContent);
  });
});


    function filterPosts(item) {
      if (item.trim().toLowerCase() === "all") {
        createArticle(posts);
      } else {
        const newPosts = posts.filter((post) =>
          post.frontmatter.tags.includes(item.trim().toLowerCase())
        );
        createArticle(newPosts);
      }
    }

    function createArticle(posts) {
      const grid = document.querySelector(".grid");
      grid.innerHTML = "";
      posts.forEach((post) => {
        const article = document.createElement("article");
        article.className = "article";
        article.innerHTML = `
    <div class="container">
                <div class="title">
                    <h3>
                        <a href='${post.url}'>${post.frontmatter.title}</a>
                    </h3>

                    <p class="time">
                    <time>
                    
                        ${new Date(post.frontmatter.pubDate).toLocaleDateString(
                          "en-us",
                          {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                          }
                        )}
                    </time>
                    | ${post.frontmatter.minutesRead}
                    </p> 
                <p>${post.frontmatter.description}</p>

                <p style="color : var(--secondary-color)"><a href='${
                  post.url
                }'> Read More <svg width="20" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg> </a></p>

                </div>
            </div>
    `;
        grid.appendChild(article);
      });
    }
  </script>
</main>
